[Unit]
Description=Carbon Cache for Calamari
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/carbon-cache --debug --config /etc/graphite/carbon.conf start
ExecStop=/usr/bin/carbon-cache --config /etc/graphite/carbon.conf stop

[Install]
WantedBy=multi-user.target
