[Unit]
Description=Cthulhu Manager
After=network.target calamari-carbon.service postgresql.service salt-master.service
Requires=calamari-carbon.service postgresql.service salt-master.service
Before=apache2.service

[Service]
Type=simple
ExecStart=/usr/bin/cthulhu-manager

[Install]
WantedBy=multi-user.target
